.loginContainer {
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .loginContainer img {
    height: 80%;
    width: 80%;
  }

  .loginContainer {
    display: block;
    text-align: center;
  }

  #loginForm {
    width: 90%;
    padding: 5%;
  }
}
