body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f7f8fa;
}

.navbar {
  background: #004aad;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

button {
  background: #004aad;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.login-container {
  display: block;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.tab-btn {
  margin: 5px;
}

.tab-content {
  padding: 20px;
}

.hidden {
  display: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  background: white;
}

table,
th,
td {
  border: 1px solid #ccc;
}

th,
td {
  padding: 8px;
  text-align: left;
}
